{% extends 'templates/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'notes_static/style.css' %}">

{% block title %}Home{% endblock title %}

{% block innerContent %}
<header class="header">
    <div class="container header-container">
        <span class="logo logo-dark-theme">MyNotes</span>
        <p class="header-user-info">
             {% if user.is_authenticated %}
             <span class="user-greeting">Hi, {{ user.username }}!</span>
             {% else %}
              <span class="user-greeting user-greeting--noauthorized">
                  You are not logged in
              </span>
            {% endif %}
        </p>
        <nav class="header-nav">
            <ul class="page-nav-list list">
            {% if user.is_authenticated %}
            <li class="page-nav-item">
              <a class="page-nav link {% block day_page %}{% endblock day_page %}" href="{% url 'day' %}">Today</a>
            </li><li class="page-nav-item">
              <a class="page-nav link {% block journal_page %}{% endblock journal_page %}" href="{% url 'notes' %}">My Journal</a>
            </li>
            <li class="page-nav-item">
                <a class="page-nav link {% block main_page %}{% endblock main_page %}" href="{% url 'main' %}">Main</a>
            </li>
            <li class="page-nav-item">
                <a class="page-nav link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </nav>
    </div>
</header>
<main>
     <div class="container main-container">
         <div class="container--flex">
             <aside class="side-bar">
             {% block side-bar_block1 %}
             <div class="white-container">
                 <div class="weather-info">
                    <img class="weather-info-placeholder"
                         alt="Weather Info Placeholder"
                         src="{% static 'images/3221437.png' %}"
                         height="100" width="100"/>
                 </div>
             </div>
             {% endblock side-bar_block1 %}

             {% block side-bar_block2 %}
             {% endblock side-bar_block2 %}

             {% block side-bar_block3 %}
             {% endblock side-bar_block3 %}

             {% block side-bar_block4 %}
             {% endblock side-bar_block4 %}
             </aside>
            <div class="content-wrap">
            {% block content %}

            {% endblock content %}
            </div>
        </div>
     </div>
</main>
<footer class="footer">
    <div class="container footer-wrap">
        Designed by Dariya Grygorova, 2023
    </div>
</footer>
{% endblock innerContent %}
