{% extends 'notes/templates/notes/main.html' %}

{% block title %}Task Details{% endblock title %}
{% block journal_page %} {% endblock journal_page %}
{% block main_page %} {% endblock main_page %}

{% block side-bar_block1 %}
<div class="white-container mb-15">
    <a class="button button-dark full-width mb-15" href="{{ back_to_url }}" ><< Go Back</a>
    <a class="button button-light full-width mb-15" href="{% url 'main' %}" ><< Go to Main</a>
    <a class="button button-light full-width" href="{% url 'notes' %}" ><< Go to Journal</a>
</div>
{% endblock side-bar_block1 %}

{% block side-bar_block2 %}
{% endblock side-bar_block2 %}

{% block content %}
<div class="white-container">
<div class="container--flex base-flex">
    <h2 class="text-left ">{{note.title}}</h2>
    <div class="icon-set">
            <a class="icon" href="{% url 'note-update' note.id %}?next={{ request.path|urlencode }}" title="Edit">&#9998;</a>
            <a class="icon" href="{% url 'note-delete' note.id %}?next={{ request.path|urlencode }}" title="Delete">&#10008;</a>
        </div>
    </div>
    <div class="container--flex base-flex">
        <p class="nowrap">Date: {{ note.deadline }}</p>
        <p>Status:
            {% if not note.isComplete %}
            In progress
            {% else %}
            Completed
            {% endif %}
        </p>
        <p class="{{ note.weight }}"><b>{{ note.weight }}</b></p>

    </div>
    <hr/>
    <p class="mb-15">{{note.desc}}</p>
</div>

{% endblock content %}