{% extends 'templates/home.html' %}

{% block title %}Update Note{% endblock title %}

{% block side-bar_block1 %}
    <div class="white-container">
        <a class="button button-light full-width mb-15" href="{% url 'main' %}" ><< Go to Main</a>
        <a class="button button-light full-width" href="{% url 'notes' %}" ><< Go to Journal</a>
    </div>
{% endblock side-bar_block1 %}

{% block content %}
    <div class="white-container">
    <h1 class="title">Update note</h1>

    <form method="POST" class="form">
    {% csrf_token %}
    <label class="form-label full-width-input mb-15" for="id_title">
        <span>{{form.title.label}}</span>
        {{form.title}}
        {% if form.errors.title %}
        <span class="form-error">{{ form.errors.title.as_text }}</span>
        {% endif %}
    </label>
    <label class="form-label textarea-label full-width-input mb-15" for="id_desc">
        <span>Description</span>
        {{form.desc}}
    </label>
    <label class="form-label container--flex gap-10 align-center mb-15" for="id_deadline">
        <span>{{form.deadline.label}}</span>
        {{ form.deadline }}
    </label>
    <div class="container--flex base-flex flex-wrap mb-15">
        <label class="form-label container--flex base-flex" for="id_weight">
            <span>{{form.weight.label}}</span>
            {{form.weight}}
        </label>
        <label class="form-label container--flex base-flex" for="id_type">
            <span>{{form.type.label}}</span>
            {{form.type}}
        </label>
        <label class="form-label container--flex base-flex " for="id_isComplete">
            <span>{{form.isComplete.label}}</span>
            {{form.isComplete}}
        </label>
    </div>
    <div class="container--flex justify-end">
        <button class="button button-dark width-120px" type="submit">Save</button>
    </div>
    </form>
</div>
{% endblock content %}
